USE_YOUTUBE=true
YOUTUBE_API_KEY=BURAYA_YOUTUBE_API_KEY
YOUTUBE_VIDEO_IDS=
YOUTUBE_AUTO_FETCH_CHANNEL_VIDEOS=false
YOUTUBE_CHANNEL_INPUT=@maunmedya
YOUTUBE_CHANNEL_VIDEO_LIMIT=40
YOUTUBE_POLL_SECONDS=60
YOUTUBE_MAX_RESULTS=100

USE_X=false
X_BEARER_TOKEN=BURAYA_X_BEARER_TOKEN
X_SEARCH_QUERY=(to:musalparslanuni OR @musalparslanuni OR "Muş Alparslan Üniversitesi" OR "Muş Alparslan" OR MAUN OR MŞÜ) lang:tr is:reply -is:retweet
X_POLL_SECONDS=60

USE_INSTAGRAM=false
INSTAGRAM_ACCESS_TOKEN=BURAYA_INSTAGRAM_ACCESS_TOKEN
INSTAGRAM_MEDIA_IDS=
INSTAGRAM_POLL_SECONDS=60

USE_FAKE=false